.container {
  max-width: 450px;
  padding: 0px 15px;
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  list-style: none;
}

.logo, .nav__link, .header__link, .footer__link {
  text-decoration: none;
}

.list, .main__title, .visually__hidden,
.title, .subtitle, .features__content,
.team__subtitle, .team__content, .article {
  margin: 0px 0px;
  padding: 0px 0px;
}

.page {
  font-family: var(--main-font);
  background-color: var(--main-light-bg-cl);
  color: var(--grey-txt-cl);
}

.header__box,
.header__list,
.nav__list,
.features__list,
.activity__list,
.team__list {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ficons {
  fill: currentColor;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  /*  Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --main-txt-cl: #212121;
  --light-txt-cl: #ffffff;
  --light-txt-cl-60: rgba(250, 250, 250, 0.6);
  --light-txt-cl-30: rgba(255, 255, 255, 0.3);
  --accent-txt-cl: #2196F3;
  --grey-txt-cl: #757575;
  --black-txt-cl: #000000;
  --grey-button-txt-cl: #F5F4FA;
  --shadow-txt-cl: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Background colors */
  --main-light-bg-cl: #ffffff;
  --hero-bg-gradient: rgba(47, 48, 58, 0.4);
  --grey-bg-cl-20: rgba(0, 0, 0, 0.2);
  --light-grey-bg-cl: #D9D9D9;
  --grey-bg-cl: #2F303A;
  --grey-team-bg-cl: #F5F4FA;
  --light-icon-bg-cl: #EEEEEE;
  --accent-bg-cl: #2196F3;
  --shadow-btn-bg-cl: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --btn-bg-cl: #188CE8;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --active-btn-bg-cl: #188CE8;
  --btn-shadow: rgba(0, 0, 0, 0.25);
  --footer-icons-bg-cl: rgba(250, 250, 250, 0.1);
  --activ-bg-cl: rgba(47, 48, 58, 0.8);
  --project-overflov-bg-cl: rgba(33, 150, 243, 0.9);
  /* Others */
  --line-cl: #ECECEC;
  --social-icons-cl: #AFB1B8;
  --shadow-15: rgba(0, 0, 0, 0.15);
  --border-modal-btn-01: rgba(0, 0, 0, 0.1);
  --border-register-input: rgba(33, 33, 33, 0.2);
  --textarea-modal-cl: rgba(117, 117, 117, 0.5);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.logo__black {
  color: var(--black-txt-cl);
  font-weight: 700;
}

.logo__light {
  color: var(--light-txt-cl);
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--social-icons-cl);
  background-color: var(--main-light-bg-cl);
  border-radius: 50%;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--grey-bg-cl-20);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-light-bg-cl);
  border-radius: 4px;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__btn {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: 1px solid var(--border-modal-btn-01);
  border-radius: 50%;
  cursor: pointer;
  color: var(--black-txt-cl);
  background-color: var(--main-light-bg-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:focus,
.modal__btn:hover {
  color: var(--accent-txt-cl);
}

.modal__close {
  fill: currentColor;
}

.footer__mail {
  margin-left: auto;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__title {
  display: block;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}

.footer__form input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input::-moz-placeholder {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__input {
  width: 358px;
  border: 1px solid var(--light-txt-cl-30);
  -webkit-filter: drop-shadow(0px 4px 4px var(--shadow-15));
          filter: drop-shadow(0px 4px 4px var(--shadow-15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--light-txt-cl-60);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: transparent;
  background-color: var(--grey-bg-cl);
}

.footer__input:hover,
.footer__input:focus {
  border-color: var(--accent-bg-cl);
  color: var(--light-txt-cl-60);
}

.footer__label {
  margin-right: 12px;
}

.btn__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.nav {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--black-txt-cl);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list {
  gap: 50px;
}

.registration__title {
  display: block;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--main-txt-cl);
}

.registration__group {
  margin-bottom: 20px;
}

.registration__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.registration__label:last-child {
  margin-bottom: 0;
}

.registration__article {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--grey-txt-cl);
  display: block;
  margin-bottom: 4px;
}

.registration__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-register-input);
  border-radius: 4px;
  padding-right: 42px;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.registration__input:hover,
.registration__input:focus {
  border-color: var(--accent-txt-cl);
}

.registration__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  display: block;
  margin-left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.registration__input:hover + .registration__icon {
  fill: var(--accent-txt-cl);
}

.registration__textarea {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  padding: 12px;
  color: var(--black-txt-cl);
  height: 120px;
  resize: none;
}

.registration__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.registration__checked {
  opacity: 0;
  border: transparent;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.registration__pending:checked + .registration__icons .registration__checked {
  opacity: 1;
}

.registration__unchecked {
  opacity: 1;
  border-radius: 4px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.registration__pending:checked + .registration__icons .registration__unchecked {
  opacity: 0;
}

.registration__agree {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.registration__link {
  color: var(--accent-txt-cl);
}

.registration__btn {
  display: block;
  margin: 0 auto;
}

.header__link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-txt-cl);
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header {
  border-bottom: 1px solid var(--line-cl);
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__list {
  gap: 50px;
  margin-left: auto;
}

.current__page {
  color: var(--accent-bg-cl);
}

.current__page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}

.main__title {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main__title {
    font-family: var(--main-font);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
  }
}

.main__section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--grey-bg-cl);
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/bg-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/bg-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .main__section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--grey-bg-cl);
  }
}

.main__container {
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .main__container {
    width: 696px;
  }
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background: var(--accent-bg-cl);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .btn {
    width: 216px;
  }
}

.btn:hover,
.btn:focus,
.btn__current {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  -webkit-box-shadow: var(--shadow-btn-bg-cl);
          box-shadow: var(--shadow-btn-bg-cl);
  -webkit-filter: drop-shadow(0px 4px 4px var(--btn-shadow));
          filter: drop-shadow(0px 4px 4px var(--btn-shadow));
  border: 1px solid var(--active-btn-bg-cl);
}

.features__subtitle {
  margin-bottom: 10px;
}

.features__content {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 120px;
  background: var(--grey-team-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.features__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .features__list {
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    gap: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 270px;
  }
}

.activity__list {
  gap: 30px;
}

.activity__thumb {
  position: relative;
}

.activity__article {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: var(--activ-bg-cl);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}

.activity__section {
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--grey-team-bg-cl);
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.team__content {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__list {
  gap: 30px;
}

.team__item {
  border: 1px solid var(--light-icon-bg-cl);
  border-top: 0;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-light-bg-cl);
}

.team__info {
  padding: 30px 32px;
}

.client__section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-light-bg-cl);
}

.client__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--social-icons-cl);
  background-color: var(--light-txt-cl);
  border: 1px solid var(--social-icons-cl);
  border-radius: 4%;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.client__link:hover, .client__link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

.button {
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--black-txt-cl);
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover,
.button__current {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  -webkit-box-shadow: var(--shadow-btn-bg-cl);
          box-shadow: var(--shadow-btn-bg-cl);
  -webkit-filter: drop-shadow(0px 4px 4px var(--btn-shadow));
          filter: drop-shadow(0px 4px 4px var(--btn-shadow));
}

.portfolio__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__content {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio__link {
  text-decoration: none;
  display: block;
}

.portfolio__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__holder {
  padding: 20px 24px;
  border: 1px solid var(--light-icon-bg-cl);
  border-top: 0;
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__link:focus,
.portfolio__link:hover {
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--project-overflov-bg-cl);
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, background-color, box-shadow;
  transition-property: transform, background-color, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}

.footer__link {
  font-style: normal;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__map {
  color: var(--light-txt-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__map:hover,
.footer__map:focus {
  color: var(--accent-txt-cl);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-txt-cl);
}

.footer__content {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}

.footer {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--grey-bg-cl);
}

.footer__contacts {
  margin-top: 20px;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--light-txt-cl);
  background-color: var(--footer-icons-bg-cl);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials:hover,
.footer__socials:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}

.footer__mail {
  margin-left: auto;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--light-txt-cl-60);
}

.footer__title {
  display: block;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}

.footer__form input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input::-moz-placeholder {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__form input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}

.footer__input {
  width: 358px;
  border: 1px solid var(--light-txt-cl-30);
  -webkit-filter: drop-shadow(0px 4px 4px var(--shadow-15));
          filter: drop-shadow(0px 4px 4px var(--shadow-15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--light-txt-cl-60);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: transparent;
  background-color: var(--grey-bg-cl);
}

.footer__input:hover,
.footer__input:focus {
  border-color: var(--accent-bg-cl);
  color: var(--light-txt-cl-60);
}

.footer__label {
  margin-right: 12px;
}

.btn__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */