.activity__section {
  @media (max-width: 1199px) {
    display: none;
    
  }
}
.activity__section {
  @include section(null, 94px, null);
}
.title {
  // font-weight: 700;
  // font-size: 36px;
  // line-height: calc(42/36);
  text-align: center;
  @include font(null, 28px, 700, alc(33/28), 0.03em, var(--main-txt-cl));
  // letter-spacing: 0.03em;
  // color: var(--main-txt-cl);
  margin-bottom: 50px;

  // desktop styles
  @media screen and (min-width: 1200px) {
  @include font(null, 36px, 700, alc(42/36), 0.03em, var(--main-txt-cl));
    }
}

.activity__list {
  @include list(null, 30px, null, null)
}

.activity__thumb {
  position: relative;
}
.activity__article {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: var(--activ-bg-cl);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  @include font(var(--main-font), 14px, 700, calc(16/14), 0.03em, var(--light-txt-cl));
}  

