
.features__subtitle {
    margin-bottom: 10px;
}
.features__content {
    @include font(var(--main-font), 14px, null, calc(24/14), 0.03em, null);
}
.features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: var(--grey-team-bg-cl);
    border-radius: 4px;
    margin-bottom: 30px;

}
.features__section {
    @include section(94px, 94px, var(--main-light-bg-cl));
}
.features__list {
    @include list(null, 30px, null, null)
}
