.button {
    text-align: center;
    @include font(inherit, 16px, 500, calc(26/16), 0.03em, var(--black-txt-cl));
    border: none;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    @include transition(color, background-color, box-shadow, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
}

.button:focus,
.button:hover,
.button__current {
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    box-shadow: var(--shadow-btn-bg-cl);
    filter: drop-shadow(0px 4px 4px var(--btn-shadow));
}