.team {
@include section(60px, 60px, --grey-team-bg-cl);


@media screen and (min-width: 1200px) {
@include section(94px, 94px, null);
}

}

.team__subtitle {
@include font (null, 16px, 500, calc(19/16), 0.03em, var(--main-txt-cl));
    text-align: center;
    margin-bottom: 10px;
}
.team__content {
    @include font (null, 16px, null, calc(19/16), 0.03em, null);
    text-align: center;
    margin-bottom: 16px;

}

.team__list {

    justify-content: center;
    @include list(flex, 30px, row, wrap);
    width: 450px;

   
    @media screen and (min-width: 768px) {
    @include list(null, 30px, row, wrap);
    width: 738px;
    }

    // desktop styles
    @media screen and (min-width: 1200px) {
    @include list(null, 30px, null, nowrap);
    width: 1170px;
      }
}
.team__item {
    border: 1px solid var(--light-icon-bg-cl);
    border-top: 0;
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px; 
    background-color: var(--main-light-bg-cl);
}
.team__info {
    padding: 30px 32px;
}
